body {
  margin: 0;
  font-family: Cantarell, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

main {
  height: 100vh;
}

#get-all-players-button-container {
  display: flex;
  justify-content: center;
  margin: .5rem;
}

#get-all-players-button {
  border: none;
  border-radius: 7px;
  background: cadetblue;
  color: white;
  padding: .5rem 1rem;
  margin: 2rem auto;
  text-align: center;
  font-size: 20px;
}

#get-all-players-button:hover {
  background-color: rgb(64, 107, 108);
}

.player-ul {
  margin: 2rem;
}

#admin-view-link {
  font-size: 1rem;
}