body {
  margin: 0;
  font-family: Cantarell, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

main {
  min-height: 100vh;
}

input {
  margin-right: .5rem;
}

#find-a-player-container {
  text-align: center;
  margin: 2rem;
}

#find-a-player-title {
  font-size: 1.25rem;
  margin: .5rem;
}

#submit-player-search-button {
  border: none;
  border-radius: 7px;
  color: white;
  background-color: cadetblue;
  padding: .4rem .8rem;
  font-size: 1rem;
}

#submit-player-search-button:hover {
  background-color: rgb(64, 107, 108);
}

#player-name-input {
  height: 1.25rem;
}

#searched-player-container {
  display: flex;
  justify-content: center;
}

.player-related-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: .5rem;
  text-align: left;
}

.searched-player-ul {
  border: solid 1px black;
  padding: 1rem;
}

#tournaments-title {
  text-align: center;
  font-size: 1.25rem;
}

#get-all-players-button-container {
  display: flex;
  justify-content: center;
  margin: .5rem;
}

#get-all-players-button {
  border: none;
  border-radius: 7px;
  background-color: cadetblue;
  color: white;
  padding: .5rem 1rem;
  margin: 2rem auto;
  text-align: center;
  font-size: 20px;
}

#get-all-players-button:hover {
  background-color: rgb(64, 107, 108);
}

#player-lists-container {
  display: flex;
  justify-content: start;
}

#players-container-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: .5rem;
}

.player-container {
  width: 33vw;
}

.player-ul {
  margin: 2rem;
  min-width: 15rem;
  border: solid 1px black;
}

.player-field-li {
  list-style-type: none;
}

