body {
  margin: 0;
  font-family: Cantarell, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

main {
  min-height: 100vh;
}

#login-form-title {
  text-align: center;
  margin: 4rem 0 0 0;
  font-size: 1.25rem;
}

#login-form {
  text-align: center;
  margin: 1rem 0 0 0;
}

#submit-login-button {
  border: none;
  border-radius: 7px;
  background: cadetblue;
  color: white;
  padding: .5rem 1rem;
  margin: 2rem auto;
  text-align: center;
  font-size: 1rem;
}

#submit-login-button:hover {
  background-color: rgb(64, 107, 108);
}

input {
  margin-right: 1rem;
}