body {
  margin: 0;
  font-family: Cantarell, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .1rem;
  background-color: rgb(4, 7, 50);
  height: 3rem;
}

#mb-icon {
  background-color: white;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 900;
  margin: 0 0 0 2rem;
}

#mb-icon-link {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: Cantarell, Helvetica, sans-serif;
  font-weight: 100;
  color: white;
  margin: 0 0 0 1rem;
  font-size: 1.8rem;
}

a {
  color: white;
  text-decoration: none;
}

#signup-form-title {
  text-align: center;
  margin: 4rem 0 0 0;
  font-size: 1.25rem;
}

#signup-form-subtitle {
  text-align: center;
  font-size: 1rem;
}

#signup-form {
  text-align: center;
  margin: 1rem 0 0 0;
}

#signup-button {
  border: none;
  border-radius: 7px;
  background: cadetblue;
  color: white;
  padding: .5rem 1rem;
  margin: 2rem auto;
  text-align: center;
  font-size: 1rem;
}

#signup-button:hover {
  background-color: rgb(64, 107, 108);
}

input {
  margin-right: 1rem;
}