footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: .1rem;
  background-color: rgb(4, 7, 50);
  height: 7vh;
}

#copyright {
  color: white;
  font-size: .8rem;
}