body {
  margin: 0;
  font-family: Cantarell, Helvetica, sans-serif;
}

button {
  cursor: pointer;
  font-family: Cantarell, Helvetica, sans-serif;
}

main {
  min-height: 100vh;
  display: none;
}

.category-titles {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
}

.action-docs-container {
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
  justify-content: center;
}

.creation-form-container {
  background-color: rgb(80, 138, 140);
  border-radius: 4px;
  margin: 2rem;
  color: white;
  width: 15rem;
}

.creation-form-title {
  text-align: center;
  padding: .5rem 0 0 0;
  font-size: 1.25rem;
}

.creation-form {
  display: flex;
  flex-direction: column;
  width: 12rem;
  padding: 1rem;
}

.creation-button {
  text-align: center;
  border: none;
  border-radius: 7px;
  background-color: white;
  width: 4rem;
  height: 1.4rem;
  margin: 0 5.5rem 1rem;
}

.creation-button:hover {
  background-color: rgb(220, 220, 220);
}

#create-player-form-container {
  height: 20.5rem;
}

#create-tournament-form-container {
  height: 31.5rem;
}

#delete-player-form-container {
  height: 9.5rem;
}

#delete-tournament-form-container {
  height: 9.5rem;
}
