body {
  margin: 0;
  font-family: Cantarell, Helvetica, sans-serif;
}

button {
  cursor: pointer;
  font-family: Cantarell, Helvetica, sans-serif;
}

main {
  height: 100vh;
  display: none;
}

#create-player-form-container {
  background-color: rgb(16, 134, 132);
  width: 12rem;
  border-radius: 4px;
  margin: 1rem;
  color: white;
}

#create-player-form-title {
  text-align: center;
  padding: .5rem 0 0 0;
  font-size: 1.25rem;
}

#create-player-form {
  display: flex;
  flex-direction: column;
  width: 10rem;
  padding: 1rem;
}

#create-player-button {
  text-align: center;
  border: none;
  border-radius: 7px;
  background-color: white;
  width: 4rem;
  height: 1.4rem;
  margin: 0 4rem .8rem;
}

#create-player-button:hover {
  background-color: rgb(220, 220, 220);
}





